body{
    background-color: #f8f8f8;
}

body h1{
	text-align: center;
}
p{
    color: #777777;
}

.book-library {
    background-color: #ffff;
	display: flex;
	flex-flow: column;
    flex-grow: 1;
	justify-content: center;
    
		
}
.book{
	
    display: flex;
    flex-flow: column;
    margin: 10px 0px;
    justify-content: center;

}
.book img{
    margin: 10px auto;
}
.price-block{
    background-color: rgb(46, 204, 113);
    color: white;
    text-align: center;
}